@model List<Partner>
@{
    ViewData["Title"] = "Partner";
    ViewBag.Dta="new";
   
}

<h1>@ViewBag.Title</h1>

@if (TempData["message"]!=null){
    <div class="col-sm-8">
        <div class="alert alert-primary">@TempData["message"]</div>
    </div>
}
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <a asp-action="List" asp-route-id="All"
               class="list-group-item
                @if (ViewBag.SelectedCategoryName == "All") {
                    <text>active</text>
                } ">All</a>
            @foreach (Driver c in ViewBag.Drivers)
            {
                <a asp-action="List" asp-route-id="@c.Name"
                   class="list-group-item
                         @(ViewBag.SelectedCategoryName == c.Name ? "active" : "")">
                    @c.Name
                </a>
            }
        </ul>
    </div>

    <div class="col-md-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Type</th>
                    @* <th>Status</th> *@
                    <th></th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.BusinessName</td>
                        <td>@p.BusinessAddress</td>
                        <td>@p.BusinessEmail</td>
                        <td>@p.BusinessPhone</td>
                        @if(@p.DriverID==1){
                              <td>Restaurant</td>
                        }
                        else if(@p.DriverID==2){
                             <td>Grocery</td>
                        }
                        else if(@p.DriverID==3){
                            <td>Alcohol</td>
                        }
                         else if(@p.DriverID==4){
                            <td>Convienience</td>
                        }
                         else if(@p.DriverID==5){
                            <td>Flower shop</td>
                        }
                        else if(@p.DriverID==6){
                            <td>Pet Store</td>
                        }
                        else if(@p.DriverID==7){
                            <td>retail</td>
                        }
                        
                        <td>
                            <a asp-action="Menu"
                               asp-route-id="@p.PartnerID">Menu</a>
                        </td>
                        <td>
                            <a asp-action="Detail"
                               asp-route-id="@p.PartnerID">Detail</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Add" class="btn btn-primary">Add New Partner</a>
    </div>
</div>